@font-face {
  font-family: 'FontRoboto';
  src: url('glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('glyphicons-halflings-regular.woff2') format('woff2'), 
  url('/glyphicons-halflings-regular.woff') format('woff'), 
  url('Roboto-Regular.ttf') format('truetype'), 
  url('glyphicons-halflings-regular.svg#fontrobotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}